<div class="main">
    <div class="floating-container">
        <div class="heading">
            <h1>Tic Tac Toe</h1>
        </div>
        <div class="form-container">
            @if (id <= 2) { <h2>Enter Player {{id}} Details</h2>
                } @else {
                <div class="symbols-container">
                    <div class="symbol-display">{{player1.name}}
                        <div class="symbol-box"><i
                                [ngClass]="{'fa-regular fa-circle':player1.symbol === 'O','fa-solid fa-xmark':player1.symbol === 'X'}"></i>
                        </div>
                    </div>
                    <div class="counter">
                        game starts in
                        <h2>{{seconds}}s...</h2>
                    </div>
                    <div class="symbol-display">{{player2.name}}
                        <div class="symbol-box"><i
                                [ngClass]="{'fa-regular fa-circle':player2.symbol === 'O','fa-solid fa-xmark':player2.symbol === 'X'}"></i>
                        </div>
                    </div>
                </div>
                }
                @if (id == 1) {
                <form class="player-one">
                    <div @slideIn>
                        <input type="text" class="player-name" placeholder="Enter Player One Name" required
                            #playerOneInput autofocus>
                        <button type="submit" class="next-btn"
                            (click)="$event.preventDefault(); addPlayer(playerOneInput)">
                            <i class="fa-solid fa-right-long"></i>
                        </button>
                    </div>
                </form>
                } @else if(id == 2){
                <form class="player-two">
                    <div @slideIn>
                        <input type="text" class="player-name" placeholder="Enter Player Two Name" required
                            #playerTwoInput autofocus>
                        <button type="submit" class="next-btn"
                            (click)="$event.preventDefault(); addPlayer(playerTwoInput)">
                            <i class="fa-solid fa-right-long"></i>
                        </button>
                    </div>
                </form>
                }
        </div>
    </div>
</div>